@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: rgba(209, 209, 209, 0.637);
}
header{
    position: fixed;
    width: 100%;
    height: 65px;
    /* background: #021123b7; #021123 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    z-index: 99;
    transition: all .7s linear;
}
section{
    position: relative;
    padding: 75px 100px;
    width: 100%;
    min-height: 100vh;
}
nav ul{
    display: flex;
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, .65);
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: 40px;
}
nav a.active{
    color: rgba(255, 255, 255, .9);
}
nav a:hover{
    color: #004453;
}
.black{
    background: #07080ae3;
}
.logo{
    width: 80px;
    background-size: contain;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__background{
    background: url('https://i.postimg.cc/8CKf5L1B/banner.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.bgFix{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.home img{
    width: 210px;
    border-radius: 50%; 
    background-size: contain;
    background-position: right;
    opacity: .8;
}
.home__info{
    width: 50%;
    text-align: center;
    line-height: 60px;
    color: #fff;
}
.home__info span{
    font-size: 2.3em;
}
.home__info h1{
    font-size: 4em;
    color: #115868;
}
.circle{
    border-radius: 50%;
    z-index: -1;
    box-shadow: rgb(0 0 0 / 37%) 10px 8px 32px 5px;
    border: 1px solid rgb(28, 43, 54);
}
.big{
    position: absolute;
    top: 180px;
    right: 230px;
    width: 380px;
    height: 380px;
    background-image: radial-gradient(circle at 0% 0%, #003f42dc 10%, #0a4346 25%, #1f4459 50%, #002944 75%, #131111 90%);
}
.medium{
    position: absolute;
    top: 200px;
    left: 300px;
    width: 320px;
    height: 320px;
    background-image: radial-gradient(circle at 0% 0%, #003f42dc 10%, #0a4346 25%, #1f4459 50%, #002944 75%, #131111 90%);
}
.small{
    position: absolute;
    bottom: 50px;
    left: 500px;
    width: 300px;
    height: 300px;
    background-image: radial-gradient(circle at 9.66% 16.15%, #727c83 0, #335253 25%, #1f4459 50%, #002944 75%, #001232 100%);
    
}
.text{
    text-align: center;
    color:#131111;
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}
.text.min{
    font-size: 1.5em;
    margin-bottom: 0;
}
.text span{
    color: #115868;
    font-size: 1.5em;
    font-weight: 700;
}
.about__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}
.about__me{
    width: 700px;
    height: 320px;
    background: rgba(9, 18, 29, 0.575);
    backdrop-filter: blur(40px);
    box-shadow: rgb(0 0 0 / 60%) 10px 8px 32px 10px;
    padding: 30px;
    border-radius: 30px;
    border: 1px solid rgba(126, 126, 126, 0.6);
    color: #fff;
}
.skills{
    margin-top: 120px;
}
.skills__content{
    max-height: 190px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.skills__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 30px;
}
.skills__card.min :nth-child(1){
    font-size: 70px;
}
.skills__card :nth-child(1){
    font-size: 100px;
    margin-bottom: 12px;
    transition: all .3s ease-in-out;
    filter: drop-shadow(5px 5px 10px rgba(34, 34, 34, 0.521));
}
.skills__card.min:hover :nth-child(1){
    transform: scale(1.2);
}
.skills__card:hover :nth-child(1){
    transform: scale(1.2);
    filter: drop-shadow(10px 10px 8px rgba(34, 34, 34, 0.747));
    
}
.skills__card img{
    width: 70px;
    margin-bottom: 12px;
}
.t-white{
    color: #fff;
    text-shadow: 5px 5px 15px#000;
}
.portfolio__bg{
    background: url('https://i.postimg.cc/HLFKfTx0/bg-portfolio3.jpg'); 
    background-attachment: fixed;
    background-position: left center;
    background-size: cover;
}
.portfolio__content{
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.textadd{
    color: rgba(22, 22, 22, 0.966);
    position: absolute;
    bottom: 20px;
    right: 30px;
}
.card{
    position: relative;
    width: 340px;
    border-radius: 10px;
    border: 1px solid rgba(189, 189, 189, 0.753);
    overflow: hidden;
    box-shadow: 4px 4px 15px #000;
    margin: 10px;
}
.card:hover .card__content{
    display: flex;
    opacity: 1;
}
.card:hover img{
    transform: scale(1.15);
}
.card__img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: all .4s linear;
}
.card__content{
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.795);
    transition: all .4s;
}
.card__btn{
    display: flex;
}
.btn{
    padding: 7px 12px;
    background-color: #fff;
    color: #000;
    font-size: .8em;
    margin: 10px;
    cursor: pointer;
    transition: all .4s linear ease-in;
}
.btn a{
    text-decoration: none;
    color: #000;
}
.btn:hover, .btn:hover a{
    color: #115868;
}
.fa-html5{
    color: #ec5300;
}
.fa-js{
    color: #c5cc00;
}
.fa-css3-alt{
    color: #2b54b3;
}
.fa-git-alt{
    color: #ef3900;
}
.fa-sass{
    color: #ce4090;
}
.fa-react{
    color: #4acdfd;
}
